.box-benefit {
    padding: 80px 0 100px;
    background: rgba(40, 48, 54, 0.3);
}
.box-benefit h2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: #F9F9F9;
    margin-bottom: 20px;
}
.box-benefit p.sub-title {
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #ADB0B6;
    margin-bottom: 140px;
}
.box-benefit ul {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 30px;
    margin-bottom: 90px;
}
.box-benefit ul li {
    background: #1E252B;
    border-radius: 20px;
    padding: 0 50px 60px;
    text-align: center;
}
.box-benefit ul li img {
    margin-top: -40px;
    margin-bottom: 40px;
}
.box-benefit ul li p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #F9F9F9;
}
.box-benefit p.text-bottom {
    background: rgba(247, 165, 1, 0.05);
    border: 1px solid #F7A501;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 30px 40px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #F9F9F9;
    max-width: 1000px;
    margin: 0 auto;
}
.box-benefit p.text-bottom span {
    color: #F7A501;
}