.box-header {
  padding: 30px 0;
}
.box-header > div {
  display: flex;
  align-items: center;
}
.box-header .box-logo {
  width: 185px;
}
.box-header .box-nav {
  width: calc(100% - 185px);
}
.box-header .box-nav ul {
  display: flex;
  justify-content: end;
}
.box-header .box-nav ul li {
  padding: 0 24px;
}
.box-header .box-nav ul li:last-child {
  padding-right: 0;
}
.box-header .box-nav ul li a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #f9f9f9;
  text-decoration: none;
}
.box-header .nav-bar {
  display: none;
}
@media screen and (max-width: 991px) {
  .box-header .nav-bar {
    display: block;
    z-index: 99999;
  }
  .bar-icon {
    position: relative;
    width: 22px;
    height: 22px;
}
  .box-header .nav-bar .bar-icon span {
    width: 22px;
    height: 3px;
    background-color: #ffffff;
    display: block;
    margin: 5px 0;
    border-radius: 3px;
  }
  .box-header .nav-bar .bar-icon.active span {
    position: absolute;
    left: 0;
    top: 20%;
  }
  .box-header .nav-bar .bar-icon.active span:first-child {
    transform: rotate(45deg);
  }
  .box-header .nav-bar .bar-icon.active span:last-child {
    transform: rotate(-45deg);
  }
  .box-header .box-nav {
    opacity: 0;
    z-index: 1002;
    transition: 0.2s;
    position: fixed;
    left: 0;
    top: 80px;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background: #1e252b;
  }
  .box-header .box-nav.active {
    opacity: 1;
    transform: translateX(0);
  }
  .box-header > div {
    position: relative;
    justify-content: space-between;
  }
  .box-header .box-nav ul {
    display: flex;
    justify-content: end;
    flex-direction: column;
    background-color: #1e252b;
    padding: 10px 15px;
  }
  .box-header .box-nav ul li {
    padding: 0;
  }
  .box-header .box-nav ul li a {
    font-size: 16px;
    padding: 10px 0;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #f7a501;
  }
}
